<h2 class="h1-responsive font-weight-bold my-5">Bienvenue sur la page de <%= @user.first_name%> <%=	 @user.last_name%></h2>


	<div class="my-3 p-3 bg-white rounded box-shadow text-success">
   

        <div class="media text-dark pt-3"> 
          <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">PRENOM</strong>
            <%= @user.first_name%>
          </p>
        </div>

        <div class="media text-dark pt-3">  
          <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">NOM</strong>
            <%= @user.last_name%>
          </p>
        </div>


         <div class="media text-dark pt-3">  
          <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">DESCRIPTION</strong>
            <%= @user.description%>
          </p>

        </div> <div class="media text-dark pt-3">  
          <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">EMAIL</strong>
            <%= @user.email%>
          </p>
        </div>

       

   </div>


<section>
<div class="card-deck">
<%Event.all.each do |event|%>
<%if event.admin_id ==  @user.events.find_by(admin_id: params[:id]).admin_id%>
<div class="col-sm-4 mb-3">
<div class="card">
  <div class="card-header">
    event #<%=event.id%>
  </div>
  <div class="card-body align-center">
    <blockquote class="blockquote mb-0">
      <p>by <%=User.find(event.admin_id).first_name%></p>
      <footer class="blockquote-footer">
      <div class="row justify-content-between align-self-center mx-3">
        <p><%=event.title%></p>
       </div>
      </footer>
    </blockquote>
  </div>
</div>
</div>
<%end%>
<%end%>
</div>
</section>
